<div class="modal fade in {{className}}" tabindex="-1" style="display: block; padding-right: 16px;">
    <div class="modal-dialog modal-{{sizeClassName}}">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="closed()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>