<li class="level{{item.level}}">

    <span class="button level{{item.level}}" ng-click="expand()" ng-class="{ 'roots_open': item.open, 'roots_close': !item.open }"></span>

    <a class="level{{item.level}}" ng-class="{ 'curSelectedNode': item.focus }">

        <span class="button level{{item.level}}" ng-class="{ 'ico_open': item.open, 'ico_close': !item.open }"></span>
        <span ng-click="focusNode()">{{item.source.name}}</span>
        <span class="button add" ng-if="item.allowAdd"></span>
        <span class="button remove" ng-if="item.allowDel"></span>
        <span class="button edit" ng-if="item.allowEdit"></span>
    </a>
    <ul class="node-container level{{item.level}}" ng-show="item.open && item.children && item.children.length > 0">
    </ul>
</li>